
table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr.bordered td,
tr.transaction_id_first td {
    border-top: 1px solid gray;
}

td.transaction_id {
    font-size: 0.6em;
}

td.account_posting,
td.budget {
    border-left: 1px dashed #CCCCCC;
}
table tr td:last-of-type {
    border-right: 1px dashed #CCCCCC;
}

td.account_posting .post_name {
    color: gray;
}

.account_posting_comment {
    color: cornflowerblue;
}

td.amount {
    font-weight: bold;
    text-align: right;
}
th.amount {
    text-align: right;
}
th.text {
    text-align: left;
}
td.amount_negative {
    color: red;
}
td.amount_negative_small {
    color: #730000;
}

td.date,
td.account_posting,
td.amount {
    white-space: nowrap;
}

td.budget.amount,
td.budget_diff.amount {
    font-weight: normal;
}

th,
td {
    padding: 5px;
}

td.extra_info {
    padding-bottom: 0;
    padding-top: 0;
    line-height: 2em;
}

tr:hover td {
    background-color: #EEEEEE;
}

tr.accounting-post-3999 td,
tr.accounting-post-3999 td.budget.amount,
tr.accounting-post-3999 td.budget_diff.amount,
tr.accounting-post-7999 td,
tr.accounting-post-7999 td.budget.amount,
tr.accounting-post-7999 td.budget_diff.amount,
tr.accounting-post-10002 td,
tr.accounting-post-10002 td.budget.amount,
tr.accounting-post-10002 td.budget_diff.amount {
    padding-bottom: 1em;
    font-weight: bold;
}

a,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}

/* Bootstrap label */
.label-default {
    background-color: #777;
}
.label-success {
    background-color: #5cb85c;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media print {
    .no-print {
        display: none;
    }
}

h1 small {
    font-size: 14px;
}

h2 {

    margin: 0;
}

.page-break-before {
    page-break-before: always;
}