
table {
    border-collapse: collapse;
}

tr.bordered td,
tr.transaction_id_first td {
    border-top: 1px solid gray;
}

td.transaction_id {
    font-size: 0.6em;
}

td.account_posting,
td.budget {
    border-left: 1px dashed #CCCCCC;
}

td.account_posting .post_name {
    color: gray;
}

td.amount {
    font-weight: bold;
    text-align: right;
}
td.amount_negative {
    color: red;
}

td.date,
td.account_posting,
td.amount {
    white-space: nowrap;
}

td.budget.amount,
td.budget_diff.amount {
    font-weight: normal;
}

td {
    padding: 5px;
}

td.extra_info {
    padding-bottom: 0;
    padding-top: 0;
    line-height: 2em;
}

tr:hover td {
    background-color: #EEEEEE;
}

/* Bootstrap label */
.label-default {
    background-color: #777;
}
.label-success {
    background-color: #5cb85c;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}